# Tutorial Python 3.x - Parte 01

Olá!

Vamos mostrar aqui como funciona a linguagem de programação Python 3.x. Python é uma linguagem bem amigável e fácil de aprender, e se você já teve experiência com programação anteriormente, será mais fácil ainda. Mas não se assuste se estiver muito difícil, vá com calma, faça os exercícios e caso tenha alguma pergunta, sugestão ou apenas quiser nos conhecer, junte-se ao [nosso slack J!QAcademy](https://bit.ly/Jqaslack).

Nosso objetivo aqui é que você seja capaz de seguir para o próximo tutorial sem grande dificuldade, então não vamos nos aprofundar em grandes detalhes para cada caso específico, mas aconselho que não tenha medo de experimentar, descobrir o que a linguagem te permite fazer e o que simplesmente dá erro. Sempre que possível tentarei incluir links para documentações para consulta ou descobrir novos métodos, funções e peculiaridades. 

Acredito que o aprendizado seja gradual e desenvolvido pela prática, não é recomendado ler toda a documentação de cada biblioteca e pacote, pois além demandar muito, tempo pode ser pouco proveitoso, e dificilmente você lembrará de tudo que leu.

## Conteúdo

Aqui neste tutorial falaremos sobre o Python básico, alguns detalhes sobre seu funcionamento e dicas de como utilizá-lo.

Veremos como os tipos de variáveis do python e como realizar operações matemáticas básicas, utilização de funções básicas e descreveremos as principais estruturas de dados que serão muito importantes para os próximos tutoriais!

Lembrando que neste tutorial não será explicado tudo aos mínimos detalhes, porém sempre que for pertinente explicaremos características específicas que podem ajudar a entender os tutoriais seguintes.

# [Variáveis e operações](https://docs.python.org/3/library/stdtypes.html#iterator-types)

As variáveis no Python não precisam ser declaradas. Podemos simplesmente criar uma variável apenas atribuindo um valor a ela e a própria linguagem é capaz de interpretar seu tipo. De maneira simplística, existem 3 tipos de variáveis:

- Variáveis numéricas (divididas em **int** e **float**)
- Variáveis texto (chamadas de **strings**)
- Variáveis lógicas (chamadas de **booleanas**)

Vamos começar, abaixo temos algumas células exemplificando códigos básicos.

A célula contendo **2+1** retorna no seu *Out* o valor **3**. 

A célula contendo **a=10** atribui o valor **10** para a variável __a__, e não retorna nada, pois estamos atribuindo valor ao contrário da célula anterior que estamos "solicitando" o resultado. Já na próxima célula, estamos verificando o valor da variável **a**.

Para criarmos strings (texto), basta inserir o valor desejado entre aspas ("texto" ou 'texto').

As [variáveis booleanas](https://en.wikipedia.org/wiki/Boolean_algebra#Values) são resultado de operações lógicas.

In [1]:
2+1

3

In [2]:
a=10

In [3]:
a

10

In [4]:
'isso é uma string'

'isso é uma string'

In [5]:
b = "string"
c = a
d = 'a'
e = 23
f = '23'

In [6]:
# variáveis atribuídas com valores booleanos
x = True
y = False

Segue aqui a tabela com as operações aritméticas mais simples:

| Símbolo | Significado|
|----|---|
| +  | Adição |
| -  | Subtração |
| /  | Divisão |
| // | Divisão Inteira |
| *  | Multiplicação |
| **  | Potenciação |
| % | Módulo |

Segue aqui a tabela com as operações lógicas mais simples:

| Símbolo | Significado |
|----|---|
| == | é igual à |
| !=  | é diferente de |
| < | é menor que |
| > | é maior que |
| <=  | é menor ou igual à |
| >=  | é maior ou igual à |
| and | operador "e" |
| or | operador "ou" |
| not | operador "não" |

Abaixo, seguem alguns exemplos de uso das operações:

In [7]:
15/4

3.75

In [8]:
15//4

3

In [9]:
a**2

100

In [10]:
(2**3) + 5*e % 11

13

Abaixo alguns exemplos de operações booleanas. 

Operações booleanas avaliam uma sentença e retornam o valor lógico de **True** ou **False**. (note que **True** e **False** são palavras-chave intrínsecas do python)

In [11]:
5==3

False

In [12]:
a > 5

True

In [13]:
c != d

True

# [Funções básicas](https://docs.python.org/3/library/functions.html)

O Jupyter notebook automaticamente escreve no Out o resultado de uma operação, como no exemplo abaixo. Em outras IDEs para python, é comum que você use a função **print()**. Com essa função, você pode escrever mais de um resultado para a mesma célula também.

In [14]:
2+2
4+4

8

In [15]:
print (2+2)
print (4+5)
print (x == 10)

4
9
False

Abaixo, outros exemplos de funções:

| função | resultado |
|----|---|
|abs()| valor absoluto|
|max()| valor máximo|
|type()| retorna o tipo da variável|

In [16]:
abs (-5)

5

In [17]:
max (3,5)

5

In [18]:
print (max(x, 5))

5

In [19]:
print (type(5))
print (type(5.0))
print (type("Hello World"))
print (type('Hello World'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

O python também compreende operações com texto, colocando os caracteres em ordem alfabética para realizar operações que necessitam de ordenação entre strings.

In [20]:
print (max("abc", "zyx"))

zyx

In [21]:
print ("Hello " + "World" + "!")
print ('A' < 'B')

Hello World!
True

In [22]:
len ("Quantos caracteres possui essa string?")

38

## Conversão entre tipo
Podemos realizar conversões entre tipos de variável, caso seja possível*, utilizando funções como __str()__, __float()__, __int()__.

*por exemplo, conversão de string para float apenas se houverem valores numéricos na string.

In [23]:
x_as_int = 10
print (type(x_as_int))
x_as_string = str(x_as_int)
print (type(x_as_string))

print (len (x_as_string))

<class 'int'>
<class 'str'>
2

In [24]:
print ("Minha variável x é " + str(x_as_int))

Minha variável x é 10

In [25]:
float('0.2019')

0.2019

## [Funções para String](https://docs.python.org/3/library/string.html)

In [26]:
s = "Python is my new favorite language"
len (s)

34

É comum que funções e métodos não mudem os valores da variável em que o método é chamado e sim retornam o valor com as alterações da função.

Esse é o caso do **.lower()**, **.upper()**, **.replace()**, eles não alteram o valor da variável __s__ em que é chamado e sim retorna o valor com as alterações de respectivas. É necessário atribuir o valor retornado em outra variável ou na mesma variável **s** para salvar as alterações.

In [27]:
s=s.lower() # Transformar todas os caracteres para letra minúscula

In [28]:
s.upper() # Transformar todas os caracteres para letra maiúscula

'PYTHON IS MY NEW FAVORITE LANGUAGE'

In [29]:
s.startswith('P')

False

In [30]:
s.startswith('p')

True

In [31]:
s.replace ("my", "your")

'python is your new favorite language'

In [32]:
s.replace ("a", "4")
s.replace ("o", "0")

'pyth0n is my new fav0rite language'

In [33]:
s.split (" ")

['python', 'is', 'my', 'new', 'favorite', 'language']

In [34]:
s

'python is my new favorite language'

# Coleções
## Lists
Listas são a estrutura de dados mais comum. São objetos __ordenados__ e **mutáveis**. 

Listas são declaradas apenas atribuindo a uma variável: **'[ ]' e seus elementos são separados por vírgula** ou **list(_iterator_)**. 

A indexação é feita por:
- números inteiros a partir do **0** até __tamanho da lista-1__. 
- ordem reversa indexando por valores negativos do **-tamanho da lista** até __-1__, onde -1 é representa o último elemento
- slicing, utilizando o símbolo $:$ para  indicar o segmento desejado. Para acessar os elementos entre $i\leq x <j$, utilizamos o index $[i:j]$. Se for o i for omitido, será interpretado como a partir do início da lista, e se o j for omitido, será interpretado como até o final da lista.

## Tuple
Tuplas são parecidas com listas, são __ordenados__ e **imutáveis**, porém não podem ser modificadas uma vez que são criadas. Boas para criar gabaritos e armazenar resultados que não podem ser modificados.

## Set
Sets são parecidos com listas, porém não contém elementos duplicados. __Não__ são **ordenados**, mas são __mutáveis__.

## Dictionary
Dicionários são um tipo de mapeamento, onde se mapeia 'keys', qualquer tipo imutável, para 'values', que podem ser de qualquer tipo. A relação key-value é como num dicionário a relação palavra-significado. __Não__ são **ordenados**, mas são __mutáveis__.

- **mutável**: Esse tipo de estrutura permite que seus valores sejam modificados, adicionados ou removidos. 
- **ordenado**: Os elementos possuem uma ordenação sequencial

In [35]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Uma lista vazia
list_1 = []

# lista de inteiros
list_2 = [3,5,7,9]

# lista de strings
list_3 = ['Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo']

# lista com valores mistos
list_4 = [2, 9, "casa", 7, 8.1, True]

In [37]:
# Exemplo de indexação
list_4[0]

2

In [38]:
# Exemplo de indexação
list_4 [2]

'casa'

In [39]:
# Exemplo de indexação inversa
list_4[-1]

True

In [40]:
lista [2] = 'substituto' # substitui o valor da posição 2 por 'substituto'
lista

[1, 2, 'substituto', 4, 5, 6, 7, 8, 9, 10]

In [41]:
lista [10] = 'too-late' # não é possível acessar posições da lista que não existem

IndexError: list assignment index out of range

Note que o Python nos retorna uma mensagem de erro quando realizamos ações que não são válidas, e até nos indica a linha do comando que retornou este erro.

Geralmente, as mensagens de erros do Python e de bibliotecas bem documentadas nos dão boas dicas de qual erro estamos lidando e conseguimos identificar facilmente qual é o erro e consertá-lo.

Veja que o Python nos diz na mensagem de erro: **'IndexError:'**, que nos indica que houve o mau uso de indexação, e ainda nos fala __list assignment index out of range__ que o índice que foi atribuído à lista está fora de alcance. 

```
IndexError: list assignment index out of range
```

Neste caso foi fácil identificar o erro, e quando entendemos o erro podemos agir e consertá-lo. Com o uso e costume do python e das bibliotecas, nós vamos nos familiarizando com as mensagens de erros.

In [42]:
# Exemplos de slicing
list_a = ['a','b','c','d','e','f','g', 'h']
list_a[1:5]

['b', 'c', 'd', 'e']

In [43]:
list_a[3:]

['d', 'e', 'f', 'g', 'h']

In [44]:
list_a[:-1] #removes just the last element

['a', 'b', 'c', 'd', 'e', 'f', 'g']

## Funções em listas
Abaixo vamos mostrar o uso de algumas funções em listas.

In [45]:
l = [1,2,-3,0,11,5,4,3,9,5,0]

### Uso de algumas funções em listas
print (len(l)) # Número de elementos
print (min(l)) # valor mínimo entre os elementos
print (max(l)) # valor máximo entre os elementos
print (l.count(5)) # quantas vezes o valor 5 aparece
print (l.index(0)) # qual o índice que o 0 aparece pela primeira vez

11
-3
11
2
3

In [46]:
l = ['a','b','c','d']
l.append('e') # acrescenta o valor 'e' ao final da lista
l.append('f')
print(l)

['a', 'b', 'c', 'd', 'e', 'f']

In [47]:
l.insert (1, "novo_elemento") # coloca o valor 'novo_elemento' na posição 1
print (l)

['a', 'novo_elemento', 'b', 'c', 'd', 'e', 'f']

In [48]:
l = ['a','b','c','d']
l.remove ('b') # remove o valor da lista
l

['a', 'c', 'd']

In [49]:
l = ['a','b','c','d']
x = l.pop () # retorna o último valor e o remove da lista 
print (l)
print (x)

['a', 'b', 'c']
d

In [50]:
l = ['a','b','c','d']
l.pop(2) # retorna o valor da posição 2 e o remove da lista 
l

['a', 'b', 'd']

In [51]:
l = [2,1,4,3,6,5,8,7]
l.reverse() # inverte a ordem posicional dos elementos da lista
l

[7, 8, 5, 6, 3, 4, 1, 2]

In [52]:
l = [2,1,4,3,6,5,8,7]
l.sort() # coloca os elementos em ordem sequencial crescente (por default)
l

[1, 2, 3, 4, 5, 6, 7, 8]

Abaixo temos um exemplo de como é o comportamento de estruturas mutáveis. Note que atribuímos o valor de list_1 para a list_2 e ao alterarmos algum valor de list_2, estamos também alterando a list_1.

Isso também ocorre caso uma lista seja utilizada como input de uma função. Se internamente da função alterarmos o valor da lista, a lista externa da função também será alterada.

In [53]:
list_1 = [1,2,3,4,5]
list_2 = list_1
print("lista 1: {}".format(list_1))
print("lista 2: {}".format(list_2))
list_2[2] = 7
print("lista 1: {}".format(list_1))
print("lista 2: {}".format(list_2))
list_2[:] = [5,4,2,1]
print("lista 1: {}".format(list_1))
print("lista 2: {}".format(list_2))
list_2 = [1,2,3,4,5,6,7]
print("lista 1: {}".format(list_1))
print("lista 2: {}".format(list_2))

lista 1: [1, 2, 3, 4, 5]
lista 2: [1, 2, 3, 4, 5]
lista 1: [1, 2, 7, 4, 5]
lista 2: [1, 2, 7, 4, 5]
lista 1: [5, 4, 2, 1]
lista 2: [5, 4, 2, 1]
lista 1: [5, 4, 2, 1]
lista 2: [1, 2, 3, 4, 5, 6, 7]

### Listas de listas

Veja os exemplos abaixo:

In [54]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]
list_1 + list_2 + list_3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list_of_lists = []
list_of_lists.append(list_1)
list_of_lists.append(list_2)
list_of_lists.append(list_3)
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Note que no primeiro exemplo, nós concatenamos as 3 listas através do operador de soma.
Já no segundo exemplo, criamos uma nova lista e acrescentamos as listas uma a uma na nova lista. No segundo exemplo, foi criado uma listas de listas, onde os elementos da **list_of_lists** são listas.

Outra forma de inicializar essa lista seria:

In [56]:
list_of_lists = [[1,2,3],
                 [4,5,6],
                 [7,8,9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

E esta lista continua sendo uma lista, então podemos acessar seu selementos da mesma forma.

In [57]:
list_of_lists [1] # Acesso ao elemento 1 da lista nos retorna uma lista

[4, 5, 6]

In [58]:
list_of_lists[1][0] # Acesso ao elemento 0 da lista, que é o elemento 1 de list_of_lists

4

In [59]:
# podemos adicionar os elementos de uma lista em outra
print (list_1)
print (list_2)
list_1.extend(list_2)
print (list_1)
print (list_2)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6]

## Tuples

In [60]:
t = ('a','b','c')
type(t)

tuple

In [61]:
t[1]

'b'

In [62]:
t[1] = 5 # não é possível pois tuplas não são modificáveis

TypeError: 'tuple' object does not support item assignment

Podemos também desempacotar todos os elementos da tupla em um comando:

In [63]:
lmt_a, lmt_b, lmt_c = t
print (lmt_a)
print (lmt_b)
print (lmt_c)

a
b
c

## Sets
Note que sets não possuem elementos duplicados e não são ordenados, ou seja, não mantém a ordem original do que foi atribuído. Como não possuem ordenação, não aceitam indexação, slicing.

In [64]:
st = set([5,4,3,1,5,2,3,4,5])
st

{1, 2, 3, 4, 5}

## Dictionaries
Dicionários são um tipo de mapeamento. São inicializados com a utilização de **{}**, e seus elementos como **'chave' : valor**.

In [65]:
d = dict()
d = {}
type(d)

dict

In [66]:
presidents_inauguration = {}
presidents_inauguration ['Trump'] = 2017 
presidents_inauguration['Obama'] = 2009
presidents_inauguration['Bush'] = 2001
print(presidents_inauguration)

{'Trump': 2017, 'Obama': 2009, 'Bush': 2001}

In [67]:
presidents_inauguration = {'Trump': 2017, 
                           'Obama': 2009, 
                           'Bush': 2001}

Dicionários são acessados utilizando as 'keys' correspondentes aos valores desejados.

In [68]:
presidents_inauguration ["Trump"]

2017

In [69]:
print("Obama was inaugurated in " + str(presidents_inauguration ['Obama']))

Obama was inaugurated in 2009

Lista de todas as keys

In [70]:
presidents_inauguration.keys()

dict_keys(['Trump', 'Obama', 'Bush'])

lista de todos os values

In [71]:
presidents_inauguration.values()

dict_values([2017, 2009, 2001])

In [72]:
type(presidents_inauguration.items())

dict_items

In [73]:
len (presidents_inauguration)

3

Por enquanto é só, pratique e se familiarize com a linguagem e continuaremos a explorar mais a linguagem na segunda parte deste tutorial!

##### Colaboradores:
- Kazu