# Tutorial Python 3.x

Olá!

Vamos mostrar aqui como funciona a linguagem de programação Python 3.x. Python é uma linguagem bem amigável e fácil de aprender, e se você já teve experiência com programação anteriormente, será mais fácil ainda. Mas não se assuste se estiver muito difícil, vá com calma, faça os exercícios e caso tenha alguma pergunta, sugestão ou apenas quiser nos conhecer, junte-se ao [nosso slack J!QAcademy](https://bit.ly/Jqaslack).

Nosso objetivo aqui é que você seja capaz de seguir para o próximo tutorial sem grande dificuldade, então não vamos nos aprofundar em grandes detalhes para cada caso específico, mas aconselho que não tenha medo de experimentar, descobrir o que a linguagem te permite fazer e o que simplesmente dá erro. Sempre que possível tentarei incluir links para documentações para consulta ou descobrir novos métodos, funções e peculiaridades. 

Acredito que o aprendizado seja gradual e desenvolvido pela prática, então se for ler toda a documentação de cada biblioteca e pacote, além demandar muito tempo pode ser pouco proveitoso, e dificilmente você lembrará de tudo que leu.

# Variáveis e operações

As variáveis no Python não precisam ser declaradas. Podemos simplesmente criar uma variável apenas atribuindo um valor a ela e a própria linguagem é capaz de interpretar seu tipo. De maneira simplística, existem 3 tipos de variáveis:

- Variáveis numéricas (divididas em **int** e **float**)
- Variáveis texto (chamadas de **strings**)
- Variáveis lógicas (chamadas de **booleanas**)

Vamos começar, abaixo temos várias células exemplificando algumas coisas básicas.

A célula contendo **2+1** retorna no seu *Out* o valor **3**. 

A célula contendo **a=10** atribui o valor **10** para a variável __a__, e não retorna nada, pois estamos atribuindo valor ao contrário da célula anterior que estamos "solicitando" o resultado. Já na próxima célula, estamos verificando o valor da variável **a**.

Para criarmos strings (texto), basta inserir o valor desejado entre aspas ("texto" ou 'texto').

As variáveis booleanas são resultado de operações lógicas.

In [1]:
2+1

3

In [2]:
a=10

In [3]:
a

10

In [4]:
'isso é uma string'

'isso é uma string'

In [10]:
b = "string"
c = a
d = 'a'
e = 23
f = '23'

In [11]:
# variáveis atribuídas com valores booleanos
x = True
y = False

Segue aqui a tabela com as operações aritméticas mais simples:

| Símbolo | Significado|
|----|---|
| +  | Adição |
| -  | Subtração |
| /  | Divisão |
| // | Divisão Inteira |
| *  | Multiplicação |
| **  | Potenciação |
| % | Módulo |

Segue aqui a tabela com as operações lógicas mais simples:

| Símbolo | Significado |
|----|---|
| == | é igual à |
| !=  | é diferente de |
| < | é menor que |
| > | é maior que |
| <=  | é menor ou igual à |
| >=  | é maior ou igual à |

Abaixo, seguem alguns exemplos de uso das operações:

In [12]:
15/4

3.75

In [13]:
15//4

3

In [16]:
a**2

100

In [18]:
(2**3) + 5*e % 11

13

In [19]:
5==3

False

In [21]:
a > 5

True

In [23]:
c != d

True

# Funções básicas

O Jupyter notebook automaticamente escreve no Out o resultado de uma operação, como no exemplo abaixo. Em outras IDEs para python, é comum que você use a função **print()**. Com essa função, você pode escrever mais de um resultado para a mesma célula também.

Conveniently, in Jupyter the last statement of a cell gets printed automatically. Typically, in Python you have to use the print function instead. This also allows you multiple print-outs per cell:

In [24]:
2+2
4+4

8

In [13]:
print (2+2)
print (4+5)
print (x == 10)

4
9
True

Existem muitas funções implementadas no Python como **print()**, você pode ver a documentação completa [aqui]( https://docs.python.org/3/library/functions.html).

Abaixo, os exemplos de funções:

| função | resultado |
|----|---|
|abs()| valor absoluto|
|max()| valor máximo|
|type()| retorna o tipo do valor|

In [14]:
abs (-5)

5

In [15]:
max (3,5)

5

In [16]:
print (max(x, 5))

10

O python também compreende operações com texto, colocando os caracteres em ordem alfabética para realizar operações que necessitam de ordenação entre strings.

In [17]:
print (max("abc", "zyx"))

zyx

In [18]:
print (type(5))
print (type(5.0))
print (type("Hello World"))
print (type('Hello World'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

Podemos realizar algumas operações para outros tipos como **string**:

In [29]:
print ("Hello " + "World" + "!")
print ('A' < 'B')

Hello World!
True

In [30]:
len ("Quantos caracteres possui essa string?")

38

## Conversão entre tipo

In [31]:
x_as_int = 10
print (type(x_as_int))
x_as_string = str(x_as_int)
print (type(x_as_string))

print (len (x_as_string))

<class 'int'>
<class 'str'>
2

In [32]:
print ("Minha variável x é " + str(x_as_int))

Minha variável x é 10

## Funções para String:

In [33]:
s = "Python is my new favorite language"
len (s)

34

In [43]:
s=s.lower() # Transformar todas os caracteres para letra minúscula

In [35]:
s=s.upper() # Transformar todas os caracteres para letra maiúscula

In [44]:
s.startswith('P')

False

In [45]:
s.startswith('p')

True

In [46]:
s.replace ("my", "your")

'python is your new favorite language'

In [48]:
# be careful: replace() does not change the string, it returns a new string!
s.replace ("a", "4")
s.replace ("o", "0")

'pyth0n is my new fav0rite language'

In [50]:
s.split (" ")

['python', 'is', 'my', 'new', 'favorite', 'language']

# Data structures
## Lists

Lists are the most commonly used data structure. It represents an ordered, modifiable set of objects.
Lists are written as sequences of data, separated by a comma and enclosed in square brackets.

Lists are declared by just equating a variable to '[ ]' or list.

You can access each data element by its index (position). Note that in Python, indexing starts from 0.

Indexing can also be done in reverse order. -1 then is the index of the last element.

Some built-in list functions:

In [33]:
# An empty list
list_1 = []

# a list with integer objects
list_2 = [3,5,7,9]

# a list of strings
list_3 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

# a list of mixed types
list_4 = [2, 5, "Elephant", 6, 8.2, True]

In [34]:
list_4[0]

2

In [35]:
list_4 [2]

'Elephant'

In [36]:
list_4[-1]

True

In [37]:
l = [1,2,3,0,1,5,4,3,5,5,2]

print (len(l)) # Number of elements
print (min(l)) # minimum of all elements
print (max(l)) # maximum of all elements
print (l.count(5)) # how often appears the value 5?
print (l.index(0)) # at which position appears the value 0 the first time?

### Some built-in list functions

11
0
5
3
3

In [38]:
l = ['a','b','c','d']
l.append('e') #Adds an element to the end of the list
l.append('f')
print(l)

['a', 'b', 'c', 'd', 'e', 'f']

In [39]:
l.insert (1, "new_element")
print (l)

['a', 'new_element', 'b', 'c', 'd', 'e', 'f']

We can also just overwrite elements of a list

In [40]:
l [2] = 'replacement'
l

['a', 'new_element', 'replacement', 'c', 'd', 'e', 'f']

In [41]:
l [10] = 'too-late' # cannot set an element that does not exist yet

IndexError: list assignment index out of range

In [42]:
l = ['a','b','c','d']
l.remove ('b')
l

['a', 'c', 'd']

In [43]:
l = ['a','b','c','d']
x = l.pop ()
print (l)
print (x)

['a', 'b', 'c']
d

In [44]:
l = ['a','b','c','d']
l.pop(1) # of course, you do not have to use the result value
l

['a', 'c', 'd']

In [45]:
l = [2,1,4,3,6,5,8,7]
l.reverse()
l

[7, 8, 5, 6, 3, 4, 1, 2]

In [46]:
l = [2,1,4,3,6,5,8,7]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8]

### Lists of Lists

Merge two lists

In [47]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]
list_1 + list_2 + list_3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

To access nested lists we can use indexing again.

In [48]:
list_of_lists = []
list_of_lists.append(list_1)
list_of_lists.append(list_2)
list_of_lists.append(list_3)
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We could have also created this directly:

In [49]:
list_of_lists = [[1,2,3],
                 [4,5,6],
                 [7,8,9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Access works equivalently:

In [50]:
list_of_lists [1]

[4, 5, 6]

In [51]:
list_of_lists[1][0]

4

There is also an option to add all elements from a list to another list.

In [52]:
print (list_1)
print (list_2)
list_1.extend(list_2)
print (list_1)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

Slicing is an operation to access specific parts of the list (several elements).

In [53]:
full_list = ['a','b','c','d','e','f','g', 'h']

In [54]:
full_list[1:5]

['b', 'c', 'd', 'e']

In [55]:
full_list[3:]

['d', 'e', 'f', 'g', 'h']

In [56]:
full_list[:-1] #removes just the last element

['a', 'b', 'c', 'd', 'e', 'f', 'g']

## Tuples

Tuples are very similar to lists. The difference is that lists are modifiable, but tuples cannot change once they are created.

In [57]:
t = ('a','b','c')
type(t)

tuple

In [58]:
t[1]

'b'

In [59]:
t[1] = 5 # this does not work since tuple are unmodifiable

TypeError: 'tuple' object does not support item assignment

You can pack/unpack multple values in one command!

In [60]:
my_a, my_b, my_c = t
print (my_a)
print (my_b)
print (my_c)

a
b
c

## Sets

Sets are similar to lists, but are not ordered and cannot contain the same element multiple times.

In [61]:
st = set([5,4,3,1,5,2,3,4,5])
st

{1, 2, 3, 4, 5}

## Dictionaries

 Python’s built-in mapping type. They map keys, which can be any immutable(unchanchable) type, to values, which can be any type

In [62]:
d = dict()
d = {}
type(d)

dict

In [63]:
presidents_inauguration = {}
presidents_inauguration ['Trump'] = 2017 
presidents_inauguration['Obama'] = 2009
presidents_inauguration['Bush'] = 2001
print(presidents_inauguration)

{'Trump': 2017, 'Obama': 2009, 'Bush': 2001}

or shorter:

In [64]:
presidents_inauguration = {'Trump': 2017, 
                           'Obama': 2009, 
                           'Bush': 2001}

dictionaries can be accessed just using their keys:

In [65]:
presidents_inauguration ["Trump"]

2017

In [66]:
print("Obama was inaugurated in " + str(presidents_inauguration ['Obama']))

Obama was inaugurated in 2009

List of all keys (presidents)

In [67]:
presidents_inauguration.keys()

dict_keys(['Trump', 'Obama', 'Bush'])

List of all values:

In [68]:
presidents_inauguration.values()

dict_values([2017, 2009, 2001])

In [69]:
type(presidents_inauguration.items())

dict_items

In [70]:
len (presidents_inauguration)

3